<%= render 'header2' %>

<%=image_tag 'fire_breather_crop.jpg', :width => "800" ,  :class =>"left" %>

<h1>New Capture Post</h1>

<%= render 'form' %>


<br>
<%= link_to 'Go Back', blogs_path %>
</br>

</div>
</div>
</div><br class="clear" />
<div id="copyright">
&copy; CaptureArt.com 
</div>